<div class="github-sharing" style="margin:auto;">
	<div>
		<!-- Place this tag where you want the button to render. -->
		<a class="github-button" href="https://github.com/manuchandel/{{ page.repo }}" data-icon="octicon-star" data-count-href="/manuchandel/{{ page.repo }}/stargazers" data-count-api="/repos/manuchandel/{{ page.repo }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star manuchandel/{{ page.repo }} on GitHub">Star</a>

		<!-- Place this tag where you want the button to render. -->
		<a class="github-button" href="https://github.com/manuchandel/{{ page.repo }}/fork" data-icon="octicon-repo-forked" data-count-href="/manuchandel/{{ page.repo }}/network" data-count-api="/repos/manuchandel/{{ page.repo }}#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork manuchandel/{{ page.repo }} on GitHub">Fork</a>

	</div>
</div>