<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="wrapper">
      <div class="myfollowbutton" style="float:right;" >
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/manuchandel" data-count-href="/manuchandel/followers" data-count-api="/users/manuchandel#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @manuchandel on GitHub">Follow</a>
      </div>
      
    </div>    

    <div class="page-content">

      <div class="wrapper">

        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>

</html>
